# Environment management
python-dotenv

# FastAPI and CORS middleware
fastapi
uvicorn
python-multipart

# Langchain and related dependencies
langchain-core
langchain
langserve
langchain-community
langchain-google-genai

sse_starlette
# Add any other essential packages here, such as database connectors or additional FastAPI tools.
